services:
  koha:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        # Передаємо лише номер версії (напр., 25.05) у Dockerfile
        KOHA_VERSION: ${KOHA_IMAGE_TAG}
    image: ${KOHA_IMAGE_NAME}:${KOHA_IMAGE_TAG}
    ports:
      - 8080:8080 # OPAC
      - 8081:8081 # Staff
    networks:
      - koha
    cap_add:
      - DAC_READ_SEARCH
      - SYS_NICE
    environment:
      MYSQL_SERVER: db
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      KOHA_INSTANCE: ${KOHA_INSTANCE}
      KOHA_DOMAIN: ${KOHA_DOMAIN}
      MEMCACHED_SERVERS: memcached:11211
      MB_HOST: rabbitmq
    depends_on:
      db:
         condition: service_healthy
      rabbitmq:
         condition: service_started
      memcached:
         condition: service_started
    restart: always

  rabbitmq:
    image: docker.io/rabbitmq:3-management
    environment:
        - RABBITMQ_DEFAULT_PLUGINS=rabbitmq_stomp
    networks:
        - koha
    restart: always

  db:
    image: docker.io/mariadb:11
    volumes:
      - mariadb-koha:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    networks:
      - koha
    restart: always
    healthcheck:
      # Тепер healthcheck використовує змінні з .env!
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u ${DB_USER} -p'${DB_PASS}' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s

  memcached:
    image: docker.io/memcached
    networks:
      - koha
    restart: always

volumes:
    mariadb-koha:

networks:
    koha: